@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


.title {
    height: 80vh;
    color: white;
    display: flex;
    margin-bottom: 20px;
    z-index: -4;
  }
























































.expanding {
    background-color: white;
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    margin: 1ren;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Madimi One", sans-serif;
}

.loading {
    background-color: white;
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    margin: 1ren;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Madimi One", sans-serif;
}

.nav {
    background-color: white;
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    margin: 1ren;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Madimi One", sans-serif;
}

.search {
    background-color: white;
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    margin: 1ren;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Madimi One", sans-serif;
}

.sound {
    background-color: white;
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    margin: 1ren;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Madimi One", sans-serif;
}

.landing {
    background-color: white;
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    margin: 1ren;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Madimi One", sans-serif;
}