@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
    background-color: White;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: "Mulish", sans-serif;
}



.hero h1 {
    font-size: 40px;
  }

  .content h2, .content h3. .content h4, .content h5, .content h6, .content h7 {
    font-size: 150%;
    margin: 20px 0;
  }